body {
    background-position: top
}
body {
    background-image: url(IMG_1232.jpg)
    
}
body {
    background-color: black
}
body {
    background-size: 1000px
}
body {
    background-repeat: no-repeat
}