body {
    background-position: top
}
body {
    background-image: url(background.png)
}
body {
    background-color: black
}

@font-face {
    font-family: 'DosisExtraBold'; /*a name to be used later*/
    src: url('Dosis-ExtraBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'DosisBold'; /*a name to be used later*/
    src: url('Dosis-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'DosisMedium'; /*a name to be used later*/
    src: url('Dosis-Medium.ttf'); /*URL to font*/
}

p {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    font-family: 'DosisMedium';
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px rgb(255, 0, 0),
        0 0 10px rgb(255, 0, 0),
        0 0 20px rgb(255, 0, 0),
        0 0 30px rgb(255, 0, 0),
        0 0 40px rgb(255, 0, 0),
        0 0 55px rgb(255, 0, 0),
        0 0 70px rgb(255, 0, 0)
}
@property --k {
	syntax: '<number>';
	initial-value: 0;
	inherits: false
}

html, body { display: grid }

html { height: 0% }



svg[height='0'] { position: absolute }

h1 {
	--k: 0;
	place-self: center;
	background: 
		linear-gradient(180deg, 
				hsl(calc(var(--k)*1turn), 95%, 65%), 
				hsl(calc(var(--k)*1turn + 90deg), 95%, 65%)) text;
	color: transparent;
	font: 900 clamp(.875em, 7.25vw, 5em) DosisExtraBold, DosisExtraBold;
	filter: url(#f);
	text-align: center;
	text-transform: lowercase;
	animation: k 5s linear infinite
}

@keyframes k { to { --k: 1 } }

h2 {
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
    font-family: 'DosisBold';
    color: orange;
    text-shadow: 0 0 2px orange,
        0 0 10px orange,
        0 0 20px orange,
        0 0 30px orange,
        0 0 40px orange,
        0 0 55px orange,
        0 0 70px orange;
}
h3 {
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
    font-family: 'DosisBold';
    color: orange;
    text-shadow: 0 0 2px orange,
        0 0 10px orange,
        0 0 20px orange,
        0 0 30px orange,
        0 0 40px orange,
        0 0 55px orange,
        0 0 70px orange;
}
