body {
    background-position: top
}
body {
    background-image: url(valkbackground.png)
}
body {
    background-color: black
}

@font-face {
    font-family: 'DosisExtraBold'; /*a name to be used later*/
    src: url('Dosis-ExtraBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'DosisBold'; /*a name to be used later*/
    src: url('Dosis-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'DosisMedium'; /*a name to be used later*/
    src: url('Dosis-Medium.ttf'); /*URL to font*/
}
